<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Navbar</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navAltMarkup">    
<ul class="navbar-nav" >
<li class="nav-item "><a href="/" class="nav-link">Home</a></li>
<li class="nav-item "><a href="/rand" class="nav-link">Random</a></li>
<li class="nav-item "><a href="/r/chickens" class="nav-link">Chickens</a></li>
<li class="nav-item "><a href="/r/soccer" class="nav-link">Soccer</a></li>
<li class="nav-item "><a href="/r/mightyharvest" class="nav-link">Mighty Harvest</a></li>
</ul>
</div>
</div></nav>    

